<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.vti.bus.mapper.ReserveCustomMapper">
	<resultMap type="vn.com.vti.bus.entity.ReserveCustom"
		id="reserveCustom">
		<id column="member_id" jdbcType="INTEGER" property="memberId" />
		<result column="route_id" jdbcType="INTEGER" property="routeId" />
		<result column="departure_id" jdbcType="INTEGER"
			property="departureId" />
		<result column="arrival_id" jdbcType="INTEGER"
			property="arrivalId" />
		<result column="reserved_date" jdbcType="TIMESTAMP"
			property="reservedDate" />
		<result column="departure_date" jdbcType="DATE"
			property="departureDate" />
		<result column="reserve_id" jdbcType="INTEGER"
			property="reserveId" />
		<result column="price" jdbcType="INTEGER" property="price" />
		<result column="bus_id" jdbcType="INTEGER" property="busId" />
		<result column="departure_name" jdbcType="INTEGER"
			property="departureName" />
		<result column="arrival_name" jdbcType="INTEGER"
			property="arrivalName" />
	</resultMap>
	
	<resultMap type="vn.com.vti.bus.entity.SeatOrder"
		id="seatOrder">
		<result column="member_name" jdbcType="VARCHAR" property="memberName" />
		<result column="seat_number" jdbcType="VARCHAR" property="seatNumber" />
	</resultMap>
	<select id="selectReservationByDepartureDate"
		resultMap="seatOrder">
		SELECT
			M.MEMBER_NAME
			,S.SEAT_NUMBER
		FROM
			RESERVE AS R
				INNER JOIN MEMBER AS M
					ON R.MEMBER_ID = M.MEMBER_ID
				INNER JOIN ROUTE AS RO
					ON R.ROUTE_ID = RO.ROUTE_ID
				INNER JOIN SEAT AS S
					ON S.RESERVE_ID = R.RESERVE_ID
		WHERE
			R.DEPARTURE_DATE = #{date}
				AND RO.ROUTE_ID = #{searchRouteId}
		ORDER BY S.SEAT_NUMBER ;
	</select>

	

	<select id="selectMemberReservationByMemberId"
		resultMap="reserveCustom">
		SELECT
			R.RESERVED_DATE
			,R.ROUTE_ID
			,RO.DEPARTURE_ID
			,RO.ARRIVAL_ID
			,RO.PRICE
			,RO.BUS_ID
			,BS.BUS_STATION_NAME AS DEPARTURE_NAME
			,BS1.BUS_STATION_NAME AS ARRIVAL_NAME
			,R.DEPARTURE_DATE
			,R.RESERVE_ID

		FROM
			RESERVE AS R
				INNER JOIN MEMBER AS M
					ON R.MEMBER_ID = M.MEMBER_ID
				INNER JOIN ROUTE AS RO
					ON R.ROUTE_ID = RO.ROUTE_ID
				INNER JOIN BUS_STATION AS BS
					ON BS.BUS_STATION_ID = RO.DEPARTURE_ID
				INNER JOIN BUS_STATION AS BS1
					ON BS1.BUS_STATION_ID = RO.ARRIVAL_ID
		WHERE
			M.MEMBER_ID = #{memberId};
	</select>
</mapper>