<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.vti.bus.mapper.SeatMapCustomMapper">
	<resultMap id="seatMapCustom" type="vn.com.vti.bus.entity.SeatMap">
   		<result column="seat_number" jdbcType="INTEGER" property="seatNumber" />
	</resultMap>
	
	<select id="checkSeatMap" resultMap="seatMapCustom">
		SELECT 
			S.SEAT_NUMBER
		FROM 
			SEAT AS S
			INNER JOIN BUS AS B
				ON S.BUS_ID = B.BUS_ID
			INNER JOIN RESERVE AS R
				ON S.RESERVE_ID = R.RESERVE_ID
			INNER JOIN ROUTE AS RO
				ON R.ROUTE_ID = RO.ROUTE_ID
		GROUP BY 
			S.SEAT_NUMBER
			,RO.ROUTE_ID
			,S.BUS_ID
			,R.DEPARTURE_DATE
		HAVING
			RO.ROUTE_ID = #{routeId, jdbcType=INTEGER}
			AND 
			S.BUS_ID = #{busId, jdbcType=INTEGER}
			AND
			R.DEPARTURE_DATE = #{departureDate, jdbcType=DATE}
		ORDER BY 
			S.SEAT_NUMBER;
	</select>
</mapper>