.regist-container{
	height: 43rem;
	padding-top: 6rem; 
	background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(../img/bus7.jpeg) center/cover no-repeat;
 }
.content{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 50%;
     background-color: #fff;
     margin:auto;
     border-radius: 15px;
     opacity: 0.8;
     overflow: auto;
}
.regist-content{
	height: 41rem;
}
.content .form{
     width: 70%;
     
}
.content .form h2{
     color: #607d8b;
     font-weight: 500;
     font-size: 1.5em;
     margin-bottom: 20px;
     border-bottom: 4px solid var(--green);
     letter-spacing: 1px;
     text-align: center;
}
.content .form .err{
	color: red;
}
.content .form .input-form{
     margin-bottom: 16px;
     position: relative;
}
.content .form .input-form label{
     font-size: 16px;
     margin-bottom: 10px;
     display: inline-block;
     color: #607d8b;
     letter-spacing: 1px;
}
.content .form .input-form input{
     padding: 10px 20px;
     border: 1px solid #607d8b;
     letter-spacing: 1px;
     color: #607d8b;
     background: transparent;
     border-radius: 30px;
     width: 90%;
}
.content .form .btn-form{
	display: flex;
    justify-content: center;   
}  
.content .form input[type="submit"]{
     color: #fff;
     border: none;
     cursor: pointer;
     box-shadow: 0 1px 1px rgba(0,0,0,0.12),
                0 2px 2px rgba(0,0,0,0.12),
                0 4px 4px rgba(0,0,0,0.12),
               0 8px 8px rgba(0,0,0,0.12),
               0 16px 16px rgba(0,0,0,0.12);
     padding: 10px 20px;
     border-radius: 30px;
     width: 250px;
     margin: 5px;
}
.content .form .regist-btn{
	 background:var(--green);
}
.content .form .return-btn{
	 background:#808080;
}
.content .form input[type="submit"]:hover{
     background: #f53677;
}

/* regist confirm */
.confirm-content{
	height: 32rem;
	transform: translateY(60px);
}
.regist-confirm{
	border-collapse: collapse;
	margin: auto;
}
.regist-confirm th, .regist-confirm td{
	padding: 12px 15px;
}
.regist-confirm tr{
	border-bottom: 1px solid black;
}
.confirm-content form{
	display: flex;
    margin-top: 20px;
}
.confirm-flex{
	height: 38rem;
}
