/* home page */
.header-form{
	padding: 3rem;
	border-radius: 0.2rem;
	text-align: center;
}
.header-form form{
	flex-direction: row;
	align-items: stretch;
	margin-top: 1.8rem;
}
.title p{
	margin: 1.8rem auto;
	line-height: 1.7;
	font-size: 1.4rem;
	text-align: center;
}
.header-form input:not([type = "submit"]) ::placeholder{
	color: #fff;
}
/* route search */
.routeSearch{
	color: #fff;
	flex-direction: column;
	height: 38rem;
	padding-top: 7rem; 
 }

/* route search result */
.search-form{
	padding: 2rem;
	width:60%;
}
.search-form2{
	padding: 3rem;
}
.search-form .form-control-2{
	box-shadow: 2px 4px 4px rgba(0,0,0,0.3);
	border: 1px solid black;
	border-radius: 0.3rem;
	padding: 0.7rem;
	background-color: transparent;
	text-align: center;
	width:100%;
	margin: 0 0.5rem;
}
/* table */
.data-table-form{
	text-align: center;
	opacity: 0.8;
}
.data-table-form table em{
	font-size:30px;
	color:#6200ee;
}
.data-table-form table em:hover{
	cursor: pointer;
    color: var(--green);
}
.list-table thead tr th {
	background-color: var(--green);
	font-weight: bold;
	text-align: center;
	font-size: 17px;
}
/* footer */
.footer{
	color:#fff;
}

/* change background on scroll */
.navbar-cng{
	background-color: #fff;
	box-shadow: 0px 4px 5px 0px rgba(48,48,48,0.2);
	transition: var(--trans);
}
.navbar-cng .site-brand{
	color: var(--dark);
}
.navbar-cng .site-brand span{
	color: var(--green);
}
.navbar-cng .navbar-nav .nav-link{
	color: var(--dark);
}	
/* section-information */
.section-information h2 {
	margin-bottom: 20px;
	padding: 13px 20px;
	background-color: #333;
	color: #fff;
}
.section-information h2 i {
	margin-right: 5px; 
}
.section-information .wrap-article {
	height: 100%;
	max-height: 30em;
	overflow-y: auto; 
}
.section-information .wrap-article article {
	padding: 20px 0;
	border-bottom: 1px solid #ccc; 
	letter-spacing: -0.5em; 
}
.section-information .wrap-article article > * {
	letter-spacing: normal; 
}
.section-information article time {
	display: inline-block;
	width: 7em; 
}
.section-information article h3 {
	display: inline-block;
	margin-bottom: .5em; 
}
.section-information article .body {
	margin-left: 7em; 
}
.section .in-section {
	width: 960px;
	margin: 0 auto;
	padding: 40px 0; 
}
/* reservation input */
.seat-infor{
	padding: 1rem;
	width:60%;
	border-radius: 1.5rem;
	color:black;
}
.seat-info-table{
	border-collapse: collapse;
	margin: auto;
}
.seat-info-table th, .seat-info-table td{
	padding: 12px 15px;
}
.seat-info-table tr{
	border-bottom: 1px solid black;
}
.seat-form{
	padding: 1.5rem;
	border-radius: 1.5rem;
	color:black;
}
.btn-form{
	display: flex;
    justify-content: center;   
}  
.btn-form input[type="submit"]{
    color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
                0 2px 2px rgba(0,0,0,0.12),
                0 4px 4px rgba(0,0,0,0.12),
               0 8px 8px rgba(0,0,0,0.12),
               0 16px 16px rgba(0,0,0,0.12);
    padding: 10px 20px;
    border-radius: 30px;
    width: 180px;
   	margin: 20px 10px 20px 10px;
}
.btn-form .reserve-btn{
	background:var(--green);
}
.btn-form .return-btn{
	background:blue;
}
.btn-form input[type="submit"]:hover{
    background: #f53677;
}
.seat-form .seat-check-table{
	margin: 20px 100px;
    border-left: 80px solid yellow;
    border-radius: 12px 2px 2px 12px;
    border-top: 10px solid yellow;
    border-bottom: 10px solid yellow;
    border-right: 10px solid yellow;
    width: 600px;
    height: 150px;
}
.seat-check-table td{
	padding: 8px;
}
input[type=checkbox] {
	position: absolute;
	opacity: 0;
}
input[type=checkbox]:checked ~ .form-check-label {
  background: #bada55;      
}
input[type=checkbox]:disabled ~ .form-check-label {
  background: #dddddd;
  text-indent: -9999px;
  overflow: hidden;
}
input[type=checkbox]:disabled ~ .form-check-label:after {
    content: "済";
    text-indent: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}
input[type=checkbox]:disabled ~ .form-check-label:hover {
	box-shadow: none;
	cursor: not-allowed;
  }
.form-check-label {    
    display: block;
    position: relative;    
    text-align: center;
    line-height: 1.5rem;
    padding: 4px 0;
    background: #F42536;
    border-radius: 5px;
}
.form-check-label:before {
      content: "";
      position: absolute;
      width: 75%;
      height: 75%;
      top: 1px;
      left: 50%;
      transform: translate(-50%, 0%);
      background: rgba(255,255,255,0.4);
      border-radius: 3px;
}
.form-check-label:hover {
      cursor: pointer;
      box-shadow: 0 0 0px 2px #5C6AFF;
}

/* reservation confirm */
.confirm-form{
	padding: 1.5rem;
	border-radius: 1.2rem;
	color:black;
}
/* regist complete */
.complete{
	min-height:80vh;
}

