/* genaral */
:root{
	--green: #1ec6b6;
	--light-grey: #f7f7f7;
	--dark: #0e1010;
	--trans: all 0.3s ease-in-out;
}
.site-brand{
	color: #fff;
	font-size: 2.4rem;
	font-family: 'RaleWay', sans-serif;
	font-weight: 600;
	opacity: 0.95;
}
header{
	min-height: 97vh;
	padding-top: 7rem;
	color: #fff;
	text-align: center;
	flex-direction: column;
}
.title h1{
	font-size: 4rem;
	letter-spacing: 2px;
	animation: bounce-in-top 1.1s both;
}
@keyframes bounce-in-top{
	0%{
		transform: translateY(-500px);
		animation-timing-function: ease-in;
		opacity: 0;
	}
	38%{
		transform: translateY(0);
		animation-timing-function: ease-out;
		opacity: 1;
	}
	55%{
		transform: translateY(-65px);
		animation-timing-function: ease-in;
	}
	72%{
		transform: translateY(0);
		animation-timing-function: ease-out;
	}
	81%{
		transform: translateY(-28px);
		animation-timing-function: ease-in;
	}
	90%{
		transform: translateY(0);
		animation-timing-function: ease-out;
	}
	95%{
		transform: translateY(-8px);
		animation-timing-function: ease-in;
	}
	100%{
		transform: translateY(0);
		animation-timing-function: ease-out;
	}
}
.search-form,.search-form2,.header-form{
	background: rgba(0,0,0,0.5);
}

/* home page */
.header-form{
	padding: 3rem;
	border-radius: 0.2rem;
}
.header-form form{
	flex-direction: row;
	align-items: stretch;
	margin-top: 1.8rem;
}
.title p{
	margin: 1.8rem auto;
	max-width: 700px;
	font-weight: 500;
	line-height: 1.7;
	font-size: 1.4rem;
}
.header-form form .form-control{
	box-shadow: 2px 4px 4px rgba(0,0,0,0.4);
}
.header-form input[type = "date"]{
	text-transform: uppercase;
}
.header-form input:not([type = "submit"]) ::placeholder{
	color: #fff;
}
.header-form .btn{
	margin-top: 0.8rem;
}
.header-form .form-control, .header-form .btn{
	margin: 0 0.5rem;
}
/* route search */
.routeSearch{
	color: #fff;
	text-align: center;
	flex-direction: column;
	min-height: 79vh;
	padding-top: 7rem; 
 }
.site-brand span{
	font-weight:300;
	color: var(--green);
}
/* route search result */
.search-form{
	padding: 1rem;
	width:60%;
}
.search-form2{
	padding: 1rem;
}
.form-control, .btn{
	margin: 0 0.5rem;
}

/* table */
.content-table{
	border-collapse: collapse;
	margin: 25px 0;
	min-width: 400px;	
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
.content-table thead tr {
	background-color: var(--green);
	color: #fff;
	text-align: left;
	font-weight: bold;
	text-align: center;
}
.content-table th, .content-table td{
	padding: 12px 15px;
}
.content-table tbody tr{
	border-bottom: 1px solid #fff;
}
.content-table tbody tr:ntn-of-type(even){
	background-color: #f3f3f3;
}
.content-table tbody tr:hover{
    background-color: #ddd;
    cursor:pointer;
}
.content-table em{
	font-size: 24px;
	color: skyblue ;
}

/* footer */
.footer{
	color:#fff;
}

/* change background on scroll */
.navbar-cng{
	background-color: #fff;
	box-shadow: 0px 4px 5px 0px rgba(48,48,48,0.2);
	transition: var(--trans);
}
.navbar-cng .site-brand{
	color: var(--dark);
}
.navbar-cng .site-brand span{
	color: var(--green);
}
.navbar-cng .navbar-nav .nav-link{
	color: var(--dark);
}	


/* section-information */
.section-information h2 {
	margin-bottom: 20px;
	padding: 13px 20px;
	background-color: #333;
	color: #fff;
}
.section-information h2 i {
	margin-right: 5px; 
}
.section-information .wrap-article {
	height: 100%;
	max-height: 30em;
	overflow-y: auto; 
}
.section-information .wrap-article article {
	padding: 20px 0;
	border-bottom: 1px solid #ccc; 
	letter-spacing: -0.5em; 
}
.section-information .wrap-article article > * {
	letter-spacing: normal; 
}
.section-information article time {
	display: inline-block;
	width: 7em; 
}
.section-information article h3 {
	display: inline-block;
	margin-bottom: .5em; 
}
.section-information article .body {
	margin-left: 7em; 
}
.section .in-section {
	width: 960px;
	margin: 0 auto;
	padding: 40px 0; 
}
.list{
	background: white;
	padding: 3rem;
	border-radius: 0.2rem;
	opacity:0.8;
}