h1 {
	font-size: 30px;
	font-family: "Impact";
	font-weight: 200;
	text-align: center;
}

.container {
	width: 900px;
}

.g-3 {
	margin-top: 5px;
	margin-bottom: 20px;
}

.shadow-lg {
	background-color: #F7F7F7;
	padding: 46px 39px 45px;
	margin: 0 auto 30px;
	margin-top: 55px;
	border-radius: 60px;
	border: solid 2px;
}
.row{
	justify-content: center;
}

.error {
	color:red;
}